.tile, .user-profile-tile, .all-images-tile, .get-new-story, .new-stories, .sponsor-tile, .likes-views-tile {
  background: #FFFFFF;
  border: 1px solid #D5E1EA;
  border-radius: 5px;
  margin-top: 25px;
  min-height: 100px;
  position: relative;
  width: 100%; }

.navigation-icon {
  height: 25px;
  width: 80px; }

.navigation-background {
  background: #3097D1; }

.navbar {
  margin-bottom: 0px; }

.search-box {
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  width: 200px; }

.search-area {
  padding: 5px; }

.navbar-default .navbar-nav li > a {
  color: #D1E8EF; }
.navbar-default .navbar-nav li > a:hover {
  color: #FFFFFF; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #D1E8EF; }

.story-board {
  background: #F5F8FA;
  min-height: 1000px; }

.notification-icon {
  color: #D1E8EF;
  font-size: 25px;
  margin: 10px 20px; }

.user-image {
  border-radius: 50%;
  height: 45px;
  margin: 5px 20px;
  width: 45px; }

.cover-pic {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 150px;
  position: absolute;
  width: 100%; }

.story-board-spacing {
  margin: 50px 20px; }

.profile-picture {
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  height: 100px;
  margin-top: 100px;
  margin-left: 30%;
  position: relative;
  width: 40%; }

.user-details {
  position: relative;
  text-align: center; }

.user-name {
  font-size: 20px;
  font-style: italic;
  font-weight: bold; }

.user-content {
  font-size: 15px;
  font-weight: lighter; }

.friends {
  border-right: 1px solid #D6DDE1;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px; }

.enemy {
  display: inline-block;
  padding: 5px; }

.user-sub-details-one {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 0px; }

.user-sub-details-two {
  font-size: 12px;
  font-weight: bold; }

.all-images-tile {
  padding-bottom: 25px; }

.all-images-tile div {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width: 44%; }
  .all-images-tile div img {
    width: 100%;
    height: 100%; }

.image-tile-text, .sponsor-tile-text, .likes-text {
  font-size: 15px;
  margin: 10px; }

.get-new-story {
  min-height: 50px; }

.click-to-get-new-stories, .sponsor-tile button, .testinomials button, .post-now {
  background: transparent;
  border: 1px solid #79B4D5;
  border-radius: 5px;
  color: #AFD8ED;
  font-size: 12px;
  margin: 20px;
  padding: 5px 10px;
  text-align: center; }

.new-stories {
  margin-top: 0px; }

.sponsor-tile-text {
  font-weight: bold;
  margin-bottom: 0px; }

.sponsored-image {
  height: 100%;
  padding: 10px;
  width: 100%; }

.sponsor-tile p {
  margin: 10px; }
.sponsor-tile button {
  color: #79B4D5; }

.testinomials img {
  border-radius: 50%;
  height: 50px;
  margin: 10px;
  width: 50px; }
.testinomials p {
  color: #A0A0A2;
  display: inline-block; }
.testinomials button {
  color: #79B4D5;
  margin: 0px; }

.story-user-image {
  border-radius: 50%;
  height: 100px;
  margin: 10px;
  width: 100px; }

.story-content {
  padding: 10px; }

.story-image {
  padding: 0px 20px 20px 10px;
  width: 100%; }

.insert-post-heading, .insert-image-to-post, .write-story {
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  width: 100%; }

.write-story {
  height: 300px; }

.post-now {
  background: #79B4D5;
  color: #FFFFFF;
  font-size: 20px;
  margin: 10px;
  padding: 5px 20px;
  text-align: center; }

/*# sourceMappingURL=task.css.map */
